doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Nightwatch HTML Report - Compact Gray Theme
		style(type="text/css")
			include ../default/styles.css
			include ../compact/styles.css
			include ../default-gray/styles.css

		script(type='text/javascript')
			include ../default/script.js

	body
		include ../default/report.pug
