doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Nightwatch HTML Report - Cover Theme
		style(type="text/css")
			include bootstrap.min.css

		style(type="text/css").
			html,
			body {
			  height: 100%;
			  background-color: #333;
			}
			body {
			  color: #fff;
			  text-align: center;
			  text-shadow: 0 1px 3px rgba(0,0,0,.5);
			}

			/* Extra markup and styles for table-esque vertical and horizontal centering */
			.site-wrapper {
			  display: table;
			  width: 100%;
			  height: 100%; /* For at least Firefox */
			  min-height: 100%;
			  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
			          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
			}
			.site-wrapper-inner {
			  display: table-cell;
			  vertical-align: top;
			}
			.cover-container {
			  margin-right: auto;
			  margin-left: auto;
			}

			/* Padding for spacing */
			.inner {
			  padding: 30px;
			}


			/*
			 * Cover
			 */

			.cover .status {
				font-size: 10em;
			}

			.success {
				color: rgb(53, 165, 53);
			}

			.failure {
				color: rgb(178, 51, 51);
			}

			.cover {
			  padding: 0 20px;
			}
			.cover .btn-lg {
			  padding: 10px 20px;
			  font-weight: bold;
			}

			.lead {
				color: #fff;
			}

			.suites {
				color: #fff;
				text-align: left;
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}

			.suites .status {
				font-size: 1em;
			}

			.suites .info {
				font-size: 1.23em;
			}

			.asserts .row {
				margin-bottom: 5px;
			}

			.asserts .row .name {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.overf {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			/*
			 * Affix and center
			 */
			@media (min-width: 400px) {
				.cover-container {
					width: 300px;
				}
			}

			@media (min-width: 768px) {
			  /* Pull out the header */
			  .masthead {
			    position: fixed;
			    top: 0;
			  }
			  /* Start the vertical centering */
			  .site-wrapper-inner {
			    vertical-align: middle;
			  }
			  /* Handle the widths */
			  .masthead,
			  .cover-container {
			    width: 600px; /* Must be percentage or pixels for horizontal alignment */
			  }
			}

			@media (min-width: 992px) {
			  .masthead,
			  .cover-container {
			    width: 800px;
			  }
			}

	body
		div.site-wrapper
			div.site-wrapper-inner
				div.cover-container
					div.masthead.clearfix

					if !testRun.isFailure
						div.inner.cover.success
							h1.status &#10003;
							h1.cover-heading Everything is awesome!
							p.lead.
								All the tests passed and you're the best.
					else
						div.inner.cover.failure
							h1.status &#10005;
							h1.cover-heading There were a few problems :(
							p.lead.
								It's ok though, we're gonna get through this.
							div.suites
								if testRun.errmessages.length > 0
									div.row
										div.info.failure
											div.col-md-offset-1.col-md-12.overf System Errors
										div.asserts
											each msg in testRun.errmessages
												div.row
													div.col-md-offset-2.overf= msg

								each pkg in testRun.packages
									each suite in pkg.suites
										if suite.isFailure
											div.row
												div.info.failure
													div.col-md-3.col-md-offset-1.overf= suite.pkgName
													div.col-md-1 -
													div.col-md-7.overf= suite.name
												div.asserts
													each testCase in suite.cases
														div.row
															if testCase.isFailure
																div.col-md-offset-2.col-md-1.status.failure &#10005;
															else
																div.col-md-offset-2.col-md-1.status.success &#10003;
															div.col-md-9.name= testCase.message
														if testCase.isFailure
															each sshot in testCase.screenshots
																div.row
																	a(href= sshot, target= 'blank')
																		img.col-md-offset-3.col-md-8(src= sshot)
