doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Nightwatch HTML Report - Default Theme
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		style(type="text/css")
			include styles.css

		script(type='text/javascript')
			include script.js

	body
		include report.jade
