doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Nightwatch HTML Report - Default Theme
		style(type="text/css")
			include styles.css

		script(type='text/javascript')
			include script.js

	body
		include report.pug
