doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Nightwatch HTML Report - Cover Theme

  body
    div.site-wrapper
      p.lead.
        All the tests passed and you've a custom theme.
