doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title Nightwatch HTML Report - Compact Theme
		style(type="text/css")
			include ../default/styles.css
			include styles.css

		script(type='text/javascript')
			include ../default/script.js

	body
		include ../default/report.pug
