doctype html
html(lang="en")
	head
		title Nightwatch HTML Report
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		style(type="text/css")
			include ../default/styles.css
			include styles.css

		script(type='text/javascript')
			include ../default/script.js

	body
		include ../default/report.jade